@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "cascadia-code";
  src: local("cascadia-code"), url(/fonts/cascadia-code/Cascadia.ttf) format("truetype");
}

.App {
  text-align: center;
}

body {
  font-family: "cascadia-code";
}